---
import Newsletter from "../components/Newsletter.astro";
---
<footer>
  <div>
    <Newsletter />
  </div>

  <h2>Kontakt</h2>
  <article class="footer_1_1">
    <div>
        <h3>Booking</h3>
        <h3>Sponsorater</h3>
        <h3>Andet</h3>
      </div>
      
      <div class="mail">
        <p><a href="www.outlook.com">vanvittigverdenshistorie@gmail.com</a></p>
        <p><a href="www.outlook.com">Martin@bentertained.dk</a></p>
        <p><a href="www.outlook.com">Oliver@podcast.dk</a></p>
      </div>
  </article>
    <div class="icons">
      <a href="https://www.facebook.com/vanvittigverdenshistorie" target="_blank" rel="noopener noreferrer">
      <img
        src="/billeder/facebook.svg"
        alt="facebook billede logo"
        width="20px"
        height="20px"
      /></a>
      
      <a href="https://www.instagram.com/vanvittigverdenshistorie/?hl=da" target="_blank" rel="noopener noreferrer">
       <img  
       src="/billeder/insta.svg"
      alt="instagram billede logo"
        width="20px"
        height="20px"
      /></a>

      <a href="https://open.spotify.com/show/2SIj3k4uJ6B7hC1LosHdlP" target="_blank" rel="noopener noreferrer">
      <img
        src="/billeder/spoti.svg"
        alt="sporify billede logo"
        width="20px"
        height="20px"
      /></a>

            <a href="https://www.tiktok.com/@vanvittigverdenshistorie" target="_blank" rel="noopener noreferrer">
      <img
        src="/billeder/tiktok.svg"
        alt="tiktok billede logo"
        width="20px"
        height="20px"
      /></a>
    </div>
 
</footer>

<style>
/* Footer styles */

/* mobile*/

footer {
  width: 100%;
  background-color: #ccd0c9;
  padding: 10px 20px; 
  margin-bottom: 80px;
}

.footer_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2, h3, p {
  color: #582d32;
}

.icons {
  display: flex;
  gap: 8px; 
  justify-content: flex-end; 
  align-items: center;
}
a{
text-decoration: none;
color: #582d32;
}



/* desktop */
 @media (min-width: 768px) {
  footer {
  width: 100%;
  background-color: #ccd0c9;
  padding: 10px 20px; 
  margin-bottom: 0;
  margin: 0;
}
  .footer_1_1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 0;
}

p {
  line-height: 3.5rem;
}
.icons {
  display: flex;
  gap: 16px; 
  justify-content: flex-end; 
  align-items: center;

}

.icons img {
  width: 30px;
  height: 30px;
}
}
</style>
