---
const {metatitle} = Astro.props;
import Footer from "../components/Footer.astro";
import "../styles/styles.css"
import Topmenu from "../components/Topmenu.astro"
import Bottomnav from "../components/Bottomnav.astro";
---
<!DOCTYPE html>
<html lang="da">
	<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator}/>
    <!--font families -->
    <!-- H1 -->
    <link rel="stylesheet" href="https://use.typekit.net/sjj0hxl.css" />
    <!-- h2 + h3 -->
    <link rel="stylesheet" href="https://use.typekit.net/tmd1gpb.css" />
    <!-- p + b2 + b3 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Martel&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="icon" href="/billeder/favicon_vvh.svg" type="image/svg+xml"> <!--favicon -->
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="layout.css">
 <title>Vanvittig Verdenshistorie</title>
</head>  
<body>

<div class="topmenu" >
<Topmenu />
</div>
<div class="bottomnav" >
<Bottomnav />
</div>
    <slot />
<Footer />
</body>


